body {
    background-color: #f0f0f0;
}
#drawing > * {
    border: 1px solid red;
    background-color: #ffffff;
}
.top-bounding-line {
    cursor: n-resize;
}
.bottom-bounding-line {
    cursor: s-resize;
}
.right-bounding-line {
    cursor: e-resize;
}
.left-bounding-line {
    cursor: w-resize;
}
.dragging {
    cursor: move;
}

svg text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
svg text::selection {
    background: none;
}
