{% load static %}
<!doctype html>

<html lang="en">
<head>
<meta charset="utf-8">

<title>The HTML5 Creator</title>
<meta name="description" content="HTML5 SVG Editor">
<meta name="author" content="SitePoint">
<meta name="viewport" content="width=device-width,user-scalable=no">

<link rel="stylesheet" href="{% static 'main.css' %}"/>
<style>
{% for font in fonts %}
@font-face {
    font-family: {{ font.name }};
    src: url({{ font.url }});
}
{% endfor %}
</style>
<script type="text/javascript">
window.FONTS = [];
{% for font in fonts %}
FONTS.push("{{ font.name }}");
{% endfor %}
</script>

<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body>
{% csrf_token %}
<div class="menu">
    <span>Menu</span>
    <button id="add" class="text">Text</button>
    <button id="export" class="export">export</button>
    <button id="save" class="save">save</button>
    image<input class="add-image" type="file"/>
    fxg<input class="fxg" type="file"/>
    <button id="front" class="front">front</button>
    <button id="back" class="back">back</button>
    <button id="remove" class="remove">remove</button>
    <button class="opacity-higher">opacity+</button>
    <button class="opacity-lower">opacity-</button>
    <button class="group">group</button>
    <button class="ungroup">ungroup</button>
    <select class="font">
        {% for font in fonts %}
        <option value="{{ font.name }}" style="font-family: {{ font.name }}">{{ font.name }}</option>
        {% endfor %}
    </select>
</div>
<div class="links">
</div>

<div id="drawing"></div>
<script src="{% static 'main.js' %}"></script>
</body>
</html>
